@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/*기본 설정*/
*{
  margin: 0; padding: 0;
  font-family: 'NanumSquareNeo-Variable';
}

body{
  font-size: 14px;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration-line: none;
  color: black;
}
li{
  list-style-type: none;
}

.wrap{  /*제일 겉에 있는 박스*/
  width: 100%;
  margin: 0 auto;
  /* border: 8px solid palevioletred; */
}

header{
  width: 100%;
  height: 180px;
  /* position: relative; */
    border-bottom: 0.4px solid rgba(128, 128, 128, 0.2);
}

.search_bar{
position: relative; right: -800px; top:-35px;
}

.search_bar > input{
border: 0.5px;
width: 180px; height: 25px;
border-radius: 10px;
background-color: pink;
}


/*기본 설정*/
.logo{
  text-align: center;
  padding-top: 40px;
}

/*스크롤바 없앰*/
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

