/*기본 설정*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration-line: none;
    color: black;
}

li {
    list-style-type: none;
}

.wrap {
    /*제일 겉에 있는 박스*/
    width: 100%;
    margin: 0 auto;
    border: 1px dotted red;
}

header {
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 5;
}

/*기본 설정*/
.t_menu {
    width: 420px;
    height: 40px;
}

.t_menu_list {
    padding-top: 10px;
    margin: 0 10px 10px 5px;
}

.t_menu_list li {
    display: inline;
    margin: 0 10px 10px 5px;
}

.logo {
    text-align: center;
}


section {
    padding-bottom: 105px;
}


/*Footer*/
footer {
    width: 100%;
    height: 90px;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
    z-index: 4;
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080;
    font-size: 11px;
}

footer a:visited {
    color: #808080;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

footer p span {
    display: inline-block;
    margin: 0 20px 10px 20px;
}

.main_menu {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    z-index: 6;
}

.main_menu>li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 30px;
    /*메뉴의 높이*/
    background-color: white;
}

.main_menu>a {
    color: black;
}

.sub_menu>li {
    line-height: 50px;
    background-color: pink;
}

.sub_menu {
    height: 0;
    overflow: hidden;
}

.main_menu>li:hover {
    background-color: pink;
    transition-duration: 0.5s;
}

.main_menu>li:hover .sub_menu {
    height: 250px;
    transition-duration: 1s;
}

.main_menu>li:hover .sub_menu {
    height: 250px;
    transition-duration: 1s;
}

.main_menu>li:hover .sub_menu>li:hover {
    line-height: 50px;
    background-color: palevioletred;
    transition-duration: 1s;
}

.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    /* overflow: hidden; */

    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;
    z-index: 3;
    /* size */
    width: 100%;
}

.slide_item img {
    object-fit: scale-down;
}

.slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;

    /* size */
    width: 100%;
    height: 300px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;

    /* transition */
    transition: left 0.15s;
}

.slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);

    /* size */
    width: 32px;
    height: 32px;

    /* style */
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.slide_prev_button {
    left: 10px;
}

.slide_next_button {
    right: 10px;
}


/* 페이지네이션 스타일 */
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    bottom: -200px;
    transform: translateX(-50%);
}

.slide_pagination>li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}

.slide_pagination>li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
}